{head}
<div class="autopagerize_page_element">
<div class="clearfix" >
<!-- BEGIN list -->
<div class="imgbox">
<a class="image lightbox" href="{name}" >
<img src='{name}' width="100pixl" height="100pixl" />
</a>
<div class="element-foot">
{time}<br/>
<input type="button" class="delete" value="del" onclick="deleteImage(event,'{name}');" />
</div>
</div>
<!-- END list -->
</div>
</div>
<!-- BEGIN next -->
<a rel="next" href="index.php?page={page}" class="next" >next</a>
<!-- END next -->
{foot}
