{head}
<div class="autopagerize_page_element">
	<ul class="thumbnails">
<!-- BEGIN list -->
<li class="span{size}">
	<div class="thumbnail" >
		<div class="cover" style="background-image: url('{name}')" >
			<a href="#" class="btn btn-danger delete over-btn" onclick="deleteImage(event,'{name}');" ><i class="icon-trash"></i></a>
			<a href="#" class="btn btn-primary copy over-btn"><i class="icon-retweet"></i></a>
		</div>
		<p class="caption">
		{time}
		</p>
	</div>
</li>
<!-- END list -->
</div><!-- div.autopagerize_page_element -->
<!-- BEGIN next -->
<a rel="next" href="index.php?page={page}" class="next" >next</a>
<!-- END next -->
{foot}
