<Files ~ "^.(htaccess|htpasswd)$">
deny from all
</Files>
AuthUserFile /home/hoge/.htpasswd
AuthGroupFile /dev/null
AuthName "Please enter your ID and password"
AuthType Basic
require valid-user 
order deny,allow
